<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advanced JS - Homework #3 - Planets API</title>
</head>
<body>
    <h1>Advanced JS - Homework #3 - Planets API</h1>
    <table border="1px" id="myTable">
        <thead>
            <tr>
                <th>Planet Name</th>
                <th>Population</th>
                <th>Climate</th>
                <th>Gravity</th> 
            </tr>
        </thead>
        <tbody></tbody>        
    </table> <br />
    <button id="showResults">Show result</button>
    <button id="next10">Next 10</button>
    <button id="previous10">Previous 10</button>
    <script src="../src/script.js"></script>
</body>
</html>